* {
    margin: 0%;
    padding: 0%;
    /* background-color: rgb(28, 28, 48); */
    background-color: rgb(32, 32, 56);

    /* background-image: linear-gradient(to right, rgb(28, 28, 48), rgb(17, 17, 40)); */
}

header {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.icon {
    margin-left: -31%;
    font-size: 1.3rem;
    font-family: sans-serif;
    width: bold;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 2rem;
    margin: 0px -290px 0px 256px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 1%;
}



.container{
    margin-left: 33%;
    margin-top: 5%;
    width: 550px;
    box-shadow: 0 0 3px 0 rgba(255, 252, 252, 0.3);
    /* background: #fff; */
    padding: 26px;
    margin: 3% auto 0;
    text-align: center;

}
.container form{

}
.container input{
    margin-top: 5%;
}
/* .input-box{
    border-radius: 6px;
    padding: 15px;
    margin: 10px -23px;
    width: 101%;
    border: 1px solid rgb(153, 153, 153);
    outline: none;

    } */

 button
{
    color: #adadad;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.input-box {
    border-radius: 6px;
    padding: 15px 8px;
    margin: 10px -23px;
    width: 87%;
    border: 1px solid rgb(153, 153, 153);
    outline: none;
    font-family: sans-serif;
    font-size: 1rem;
    color: #adadad;


}

.message-box{
    border-radius: 6px;
    padding: 60px 8px;
    margin: 10px -23px;
    width: 87%;
    border: 1px solid rgb(153, 153, 153);
    outline: none;
    font-family: sans-serif;
    font-size: 1rem;
    color: #adadad;
}
