* {
    margin: 0%;
    padding: 0%;
    background-color: rgb(32, 32, 56);
    /* background-image: linear-gradient(to right, rgb(28, 28, 48), rgb(17, 17, 40)); */
}

header {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.icon {
    margin-left: -31%;
    font-size: 1.3rem;
    font-family: sans-serif;
    width: bold;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 2rem;
    margin: 0px -290px 0px 256px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 1%;
}

.left-col {

   
    margin-top: 11%;
    display: flex;
    align-items: center;
    margin-left: 16rem;
}

.left-col h1 {

    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
}

.leftLine {
    width: 3px;
    height: 5rem;
    background-color: white;
    margin: -21px 1rem 20px 0;
}
.left-col p{
    /* color: rgba(255,255,255,0.2 ); */
    color: #d2cece;

    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    margin: 12px 0 0px 0;
}
.left-col button{
    color: #fff;
    
    width: 43%;
    padding: 5px;
    border-radius: 13px;
    font-size: 15px;
    margin: 15px 0px;
    /* border: none; */
    outline: none;
    cursor: pointer;
    border-color: white;
}

.right-col{
    margin-top: -20%;
    margin-left: 54%;
}

.right-col img{
width: 42rem;
}

.hello{

    margin-left: 16rem;
    margin-top: -8rem;
}

.hello p{
       
color: white;
font-weight: bold;
font-family: sans-serif;
display: flex;
gap: 0rem;
font-size: 1.5rem;
align-content: space-between;
align-items: center;
}




.footer{
    margin-left: 17%;
    margin-top: 3%;
    /* display: flex; */
    /* gap: 1rem; */

    }
    .footer a{
    text-decoration: none;     
    /* display: flex; */
    /* gap:  1rem; */
    color: #adadad;
    margin-left: 1.8%;
    margin-top: 1%;
    
    }
    .footer p{
   color: white;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    gap: 0rem;
    font-size: 1rem;
    align-content: space-between;
    align-items: center;
    }



    
    .loader{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: #facaaa;
    }
    .loader img{
        width: 20rem;
    }