 * {
    margin: 0%;
    padding: 0%;
    background-color: rgb(28, 28, 48);
    /* background-image: linear-gradient(to right, rgb(28, 28, 48), rgb(17, 17, 40)); */
} 

header {
    width: 100%;
    height: 100%;
    /* background: rgb(0, 0, 0); */
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.icon {
    margin-left: -31%;
    font-size: 1.3rem;
    font-family: sans-serif;
    width: bold;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 2rem;
    margin: 0px -290px 0px 256px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 1%;
} 


.projectleft-col{
    margin-left: 4%;
    margin-top: 2%;
}


.project-col{
    /* margin-left: 60%;
    margin-top: -41%; */
}


.project-col h2{
    font-family: sans-serif;
    color: white;
    font-size: 2rem;
}
.project1{
    margin-top: 2%;
}
.project1 h6{
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 100;
}
.project1 p{
    font-size: 1rem;
    font-family: sans-serif;
    color: white;

}

.project1 a{
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
    text-decoration: none;

}

.project2{
    margin-top: 2%;
}
.project2 h6{
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 100;
}
.project2 p{
    font-size: 1rem;
    font-family: sans-serif;
    color: white;

}

.project2 a{
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    
}